* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  height: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background-color: #321e25;
}

.navlinks a,
.cta {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #c06378;
  text-decoration: none;
}

.navlinks {
  list-style: none;
  display: flex;
}

.navlinks li {
  padding: 0px 20px;
}

.navlinks li a {
  transition: color 0.3s ease 0s;
}

.navlinks li a:hover {
  color: #e894a7;
}

.cta {
  padding: 9px 25px;
  background-color: #663845;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
}

.cta:hover {
  background-color: #632e3d;
}
.title {
  position: absolute;
  color: white;
  font-size: 40px;
  top: 310px;
  left: 600px;
}
#image1 {
  position: absolute;
  left: 1258px;
  top: 15px;
}

#image2 {
  position: absolute;
  left: 475px;
  top: 6px;
}

#image3 {
  position: absolute;
  left: 105px;
  top: 10px;
}

#image4 {
  position: absolute;
  left: 348px;
  top: 550px;  
} 

#image5 {
  position: absolute;
  left: 666px;
  top: 555px;
}